.env
.envrc

docker/templates/dashy/config.yaml
docker/templates/dashy/item-icons/
docker/templates/lldap/lldap_data/
docker/templates/netdata/netdataconfig/
docker/templates/nginx-proxy-manager/data/
docker/templates/nginx-proxy-manager/letsencrypt/
docker/templates/prometheus-stack/alertmanager/slack_urls

.terraform*
plan
*.tfstate
*.tfvars

ansible/servers/inventory.ini
ansible/.python-version

*.retry
*/__pycache__
*.pyc
.cache
