- name: install latest qemu-guest-agent
  hosts: all
  tasks:
    - name: install Qemu Guest Agent
      apt:
        name: qemu-guest-agent
        state: present
        update_cache: true
      become: true
# Server must be shutdown and started again to get the Qemu Guest Agent working

    # - name: start Qemu Guest Agent
    #   become: true
    #   become_user: "{{ ansible_user }}"
    #   service:
    #     name: qemu-guest-agent
    #     state: restarted
